beautifulsoup4==4.6.0
Django==1.11.3
-e git+https://github.com/fgmacedo/django-export-action@fb9b4a88b864f408a36049ecfc3825bd1626b848#egg=django_export_action
gunicorn==19.7.1
lxml==3.8.0
pytz==2017.2
requests==2.18.1
six==1.10.0
urllib3==1.21.1
xlwt==1.2.0
