beautifulsoup4==4.6.0
certifi==2017.7.27.1
chardet==3.0.4
Django==2.2.24
-e git+https://github.com/fgmacedo/django-export-action@fb9b4a88b864f408a36049ecfc3825bd1626b848#egg=django_export_action
et-xmlfile==1.0.1
gunicorn==19.7.1
idna==2.5
jdcal==1.3
lxml==3.8.0
openpyxl==2.4.8
pytz==2017.2
requests==2.18.1
selenium==3.5.0
six==1.10.0
urllib3==1.21.1
xlwt==1.2.0
