<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">AliExpress Crawler</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        {% url 'home' as home %}
        {% url 'related' as related %}
        {% url 'enkw' as enkw %}
        {% url 'rank' as rank %}
        <ul class="nav navbar-nav">
          <li {% if request.path == home %} class="active" {% endif %}><a href="{% url 'home' %}">潜力款分析</a></li>
          <li {% if request.path == related %} class="active" {% endif %}><a href="{% url 'related' %}">下拉词分析</a></li>
          <li {% if request.path == enkw %} class="active" {% endif %}><a href="{% url 'enkw' %}">小语种翻译</a></li>
          <li {% if request.path == rank %} class="active" {% endif %}><a href="{% url 'rank'  %}">国家站排名</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="">您好: {{ request.user.username }}</a></li>
          <li><a href="{% url 'logout' %}">登出</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
</nav>
