<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block head_title %}AliExpress Crawler{% endblock head_title %}</title>
    {% include 'snippets/css.html' %}
</head>
<body>
{% include 'snippets/nav.html' %}

    <div class="row">
      <div class="col-md-4 search-form">
          <div >
              {% block form %}{% endblock form %}
          </div>
      </div>
      <div class="col-md-8 search-result">
          <div>
            {% block content %}{% endblock content %}
          </div>
      </div>
    </div>

{% include 'snippets/js.html' %}
</body>
</html>