{% extends "base.html" %}

{% block form %}

    {% include "kw_search_form.html" %}

{% endblock form %}

{% block content %}

{% if first_page_html %}
<div class="row">
    {{ first_page_html | safe}}
</div>
{% endif %}

{% if query_results %}
<div class="pull-left">
    {% for query in qlist %}
    <a href="{{ query.export_url }}" class="btn btn-primary">导出 {{ query.site }} 查询结果</a>
    {% endfor %}
</div>
<table class="table table-striped">
    <thead>
    <tr>
        <th>站点</th>
        <th>关键字</th>
        <th>所在页数</th>
        <th>页排名</th>
        <th>商品名称</th>
        <th>店家名</th>
        <th>价格</th>
        <th>订单量</th>
        <th>评论数</th>
        <th>好评率</th>
        <th>星级分</th>
        <!--<th>图片地址</th>-->
        <!--<th>商品地址</th>-->
      </tr>
    </thead>
    <tbody>
    {% for result in query_results %}
      <tr>
        <td>{{ result.query.site }}</td>
        <td>{{ result.query }}</td>
        <td>{{ result.page }}</td>
        <td>{{ result.rank }}</td>
        <td>{{ result.title }}</td>
        <td>{{ result.store }}</td>
        <td>{{ result.price }}</td>
        <td>{{ result.orders }}</td>
        <td>{{ result.comments }}</td>
        <td>{{ result.credit_points }}</td>
        <td>{{ result.rating }}</td>
        <!--<td>{{ result.img_url }}</td>-->
        <!--<td>{{ result.product_url }}</td>-->
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endif %}

{% endblock content %}