<form class="">
    <div class="form-group">
        <label for="site_id">选着站点 (可多选): </label>
        <select name="sites" id="site_id" class="form-control" multiple="multiple" required>
            {% for site in sites %}
            <option value="{{ site.id }}" {% if site.id == last_site_id %}selected{% endif %}>{{ site.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="keyword">关键字: </label>
        <input type="text" id="keyword" class="form-control" placeholder="查询关键字" name="q" value="{{ request.GET.q }}" required>
    </div>

    <div class="form-group">
        <label for="product_id">产品ID: </label>
        <input type="text" id="product_id" class="form-control" placeholder="32806707746" name="product_id" value="{{ request.GET.product_id }}" required>
    </div>

    <button type="submit" class="btn btn-primary btn-lg btn-block">开始查询</button>
</form>